.text-center{
    text-align: center;
    padding: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.text-drop{
    position: relative;
    left: 10%;
    
}
.select{
    text-align: center;    
    left: 0%;
    right: 0%;
    padding-left: 50px;
    
    
}