<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div id="container2">
            <button ion-button [routerLink]="['/mapa']"class="btn">
              <ion-icon slot="start" name="calendar"></ion-icon> mapa</button>
          </div>
  <div id="container2">
    <button ion-button [routerLink]="['/youtube']"class="btn">
      <ion-icon slot="start" name="calendar"></ion-icon> youtube</button>
  </div>
  <div id="container2">
    <button ion-button [routerLink]="['/pagos']"class="btn">
      <ion-icon slot="start" name="calendar"></ion-icon> pagos</button>
  </div>
  <div id="container2">
    <button ion-button [routerLink]="['/checkin']"class="btn">
      <ion-icon slot="start" name="calendar"></ion-icon> checkin</button>
  </div>
 
</ion-content>
